@model IEnumerable<De02_NguyenPhamPhuHuy_CNTT62_6251071038.PhanLoaiPhu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhanLoaiPhu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaPhanLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhanLoaiPhu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhanLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhanLoaiPhu }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhanLoaiPhu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhanLoaiPhu })
        </td>
    </tr>
}

</table>
